<button (click)="addCar()">Add Car</button>
<input [(ngModel)]="make" placeholder="make" />
<input [(ngModel)]="model" placeholder="model" />
<input [(ngModel)]="miles" placeholder="miles" />

<!-- <div class="container">
  <div class="box">Hello, {{ speak() }} !</div>
</div> -->
<!-- 
<div *ngFor="let color of colors; let i = index">
  Fruit {{ i }} is {{ color }}
</div> -->

<!-- 
  {{speak()}} -->

<div *ngFor="let car of cars">
  {{ car.make }} {{ car.model }} with a mileage of {{ car.miles }}
</div>
<!-- <button (click)="saySomething()">Button</button> -->
<!-- <div>
  <div class='number-display'>
    {{counter}}
  </div>  
<button (click)="increment()">Increment</button>
</div>
<div>
<div class='number-display'>
  {{phrase}}
</div>  
<button (click)="update()">phrase</button>
</div>
{{username}}
<input [(ngModel)]="username" placeholder="enter a username"/> -->
